@use "../base/layout";
@use "../base/fonts" as fonts;
@use "../base/colors" as colors;

@use "../components/wrapper" as wrapper;

@use "../utils/breakpoints" as bp;
@use "../utils/mixins" as utils;
@use "../utils/spacing" as spacing;
@use "../components/button" as button;

main {
  section {
    &#hero {
      text-align: center;
      color: colors.$gray-light;
      margin-top: calc(
        var(--header-height) + 3rem + 1rem
      ); // header-height + top + box-shadow

      .hero {
        &__wrapper {
          @include wrapper.class("small");
        }

        &__title {
          margin-top: 0;
          @include utils.clamp(margin-bottom, 3, 6);

          &-highlighted {
            display: inline-block;
            position: relative;
            @include utils.clamp(margin-top, 1, 3);

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%) rotate(1deg);
              width: 100%;
              height: 100%;
              background-color: colors.$green;
              opacity: 0.54;
              will-change: transform;
              z-index: -1;
              padding: 0 2rem;
            }
          }
        }

        &__description {
          @include spacing.edge-reset("margin", "children");
        }
        &__socials {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4rem;
          @include utils.clamp(margin-top, 3, 6);

          &-item {
            border: colors.$black solid 4px;
            border-radius: 10px;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0.6rem 0.6rem colors.$black;

            &-github {
              padding: 0.3rem;
            }
            &-linkedin {
              padding: 0.6rem;
            }
            &-cv {
              font-weight: 900;
              font-size: 2.3rem;
              font-family: fonts.$inter;
              color: colors.$black;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        &__cta {
          @include utils.clamp(margin-top, 3, 6);
          text-align: center;
          &-button {
            @include button.class("secondary");
            text-decoration: none;
          }
        }
      }
    }
  }
}
