@use "../base/layout";
@use "../base/fonts" as fonts;
@use "../base/colors" as color;

@use "../components/highlight" as highlight;
@use "../components/wrapper" as wrapper;
@use "../components/button" as button;

@use "../utils/breakpoints" as bp;
@use "../utils/mixins" as utils;
@use "../utils/spacing" as spacing;

main {
  section {
    &#hero {
      text-align: center;
      color: color.$gray-light;
      margin-top: calc(
        var(--header-height) + 3rem + 1rem
      ); // header-height + top + box-shadow
      position: relative;
      overflow: hidden;

      // Floating decorative shapes
      .hero__floating {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 0;
        overflow: hidden;

        @include bp.to("tablet") {
          display: none;
        }

        &-shape {
          position: absolute;
          border-radius: 50%;
          opacity: 0.15;

          &--1 {
            width: 300px;
            height: 300px;
            background: color.$green;
            top: 50px;
            left: -80px;
            animation: float 8s ease-in-out infinite;
          }

          &--2 {
            width: 200px;
            height: 200px;
            background: color.$purple;
            top: 20%;
            right: -50px;
            animation: float-reverse 7s ease-in-out infinite;
            animation-delay: 1s;
          }

          &--3 {
            width: 150px;
            height: 150px;
            background: color.$orange;
            bottom: 10%;
            left: 5%;
            animation: float 9s ease-in-out infinite;
            animation-delay: 2s;
          }

          &--4 {
            width: 100px;
            height: 100px;
            background: color.$blue;
            bottom: 30%;
            right: 10%;
            animation: float-reverse 6s ease-in-out infinite;
            animation-delay: 0.5s;
          }
        }

        @keyframes float {
          0%, 100% {
            transform: translateY(0) rotate(0deg);
          }
          50% {
            transform: translateY(-30px) rotate(10deg);
          }
        }

        @keyframes float-reverse {
          0%, 100% {
            transform: translateY(0) rotate(0deg);
          }
          50% {
            transform: translateY(30px) rotate(-10deg);
          }
        }
      }

      .hero {
        &__wrapper {
          @include wrapper.class("small");
          position: relative;
          z-index: 1;
        }

        &__title {
          margin-top: 0;
          @include utils.clamp(margin-bottom, 3, 6);

          &-name {
            display: inline-block;
            background: linear-gradient(
              135deg,
              color.$gray-dark 0%,
              color.$gray-light 50%,
              color.$gray-dark 100%
            );
            background-size: 200% auto;
            -webkit-background-clip: text;
            background-clip: text;
            animation: gradient-text 4s ease infinite;
          }

          @keyframes gradient-text {
            0%, 100% {
              background-position: 0% center;
            }
            50% {
              background-position: 100% center;
            }
          }

          &-highlighted {
            @include utils.clamp(margin-top, 1, 3);
            @include highlight.class("green");
            display: inline-block;
            position: relative;
          }
        }

        &__description {
          @include spacing.edge-reset("margin", "children");

          .highlighted {
            &::after {
              padding: 0;
            }
          }
        }

        &__socials {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4rem;
          @include utils.clamp(margin-top, 3, 6);

          &-item {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 0.3rem color.$black;
            box-shadow: 3px 3px 0 color.$black;
            transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
                        box-shadow 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

            &:hover {
              transform: translateY(-5px) rotate(-3deg);
              box-shadow: 7px 8px 0 color.$black;
            }

            &:active {
              transform: translateY(2px);
              box-shadow: 2px 2px 0 color.$black;
            }

            &-github {
              padding: 0.3rem;
              background-color: color.$white;
            }

            &-linkedin {
              padding: 0.6rem;
              background-color: color.$white;
            }

            &-cv {
              font-weight: 900;
              font-size: 2.3rem;
              text-decoration: none;
              font-family: fonts.$inter;
              color: color.$black;
              background-color: color.$white;

              &:hover {
                font-size: 2.5rem;
              }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              transition: transform 0.3s ease;
            }

            &:hover img {
              transform: scale(1.1);
            }
          }
        }

        &__cta {
          text-align: center;

          @include utils.clamp(margin-top, 3, 6);

          &-button {
            @include button.class("secondary");
          }
        }
      }
    }
  }
}
