@use "../base/layout";
@use "../base/fonts" as fonts;
@use "../base/colors" as colors;

@use "../components/wrapper" as wrapper;

@use "../utils/breakpoints" as bp;
@use "../utils/mixins" as utils;
@use "../utils/spacing" as spacing;

main {
  section {
    &#hero {
      text-align: center;
      color: colors.$gray-light;
      border: red solid 1px;
      margin-top: calc(
        var(--header-height) + 3rem + 1rem
      ); // header-height + top + box-shadow

      .hero {
        &__wrapper {
          @include wrapper.class("small");
        }

        &__title {
          margin-top: 0;
          @include utils.clamp(margin-bottom, 3, 6);

          &-highlighted {
            display: inline-block;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%) rotate(1deg);
              width: 100%;
              height: 100%;
              background-color: colors.$green;
              opacity: 0.54;
              will-change: transform;
              z-index: -1;
              padding: 0 2rem;
            }
          }
        }

        &__description {
          @include spacing.edge-reset("margin", "children");
        }
      }
    }
  }
}
