@use "sass:meta";

@use "colors" as color;
@use "variables" as var;
@use "fonts" as font;

@use "../utils/breakpoints" as breakpoints;
@use "../utils/spacing" as spacing;
@use "../utils/mixins" as utils;

a,
input,
button {
  cursor: pointer;
  transition-duration: 0.4s;
}

a:active,
input:active,
button:active {
  transition-duration: 0s;
}

@include utils.heading {
  @include utils.heading-base;
}

/* Custom font-size */
h1,
.h1 {
  @include utils.clamp(font-size, 3.4, 5.2);
  @include utils.clamp(line-height, 3.4, 5.2);
}

h2,
.h2 {
  @include utils.clamp(font-size, 2.5, 3.6);
  @include utils.clamp(line-height, 2.5, 3.6);
}

h3,
.h3 {
  @include utils.clamp(font-size, 2, 2.4);
  @include utils.clamp(line-height, 2, 2.4);
}

/* Default font-size */
h4,
.h4 {
  @include utils.clamp(font-size, 2, 2.4);
  @include utils.clamp(line-height, 2, 2.4);
}

h5,
.h5 {
  @include utils.clamp(font-size, 1.6, 2);
  @include utils.clamp(line-height, 1.6, 2);
}

h6,
.h6 {
  @include utils.clamp(font-size, 1.6, 1.6);
  @include utils.clamp(line-height, 1.6, 1.6);
}
