@use "colors" as color;
@use "fonts" as font;

@use "../utils/breakpoints" as bp;
@use "../utils/mixins" as utils;

/* Taille du header */
:root {
  --header-height: 7.5rem;
}

@include bp.from("desktop") {
  :root {
    --header-height: 10rem;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: calc(1em * 0.625);
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: color.$beige-light;
  color: color.$gray-dark;
  font-family: font.$roboto;
  @include utils.clamp(font-size, 1.4, 1.8);
  @include utils.clamp(line-height, 1.4, 1.8);
  font-weight: 500; // Medium

  &.active {
    overflow-y: hidden;
  }

  #wrapper {
    flex-grow: 1;
  }

  #footer {
    flex-shrink: 0;
  }

  noscript {
    div {
      margin: 0 2rem;
    }
  }
}

section {
  @include utils.clamp(padding-top, 3, 10);
  @include utils.clamp(padding-bottom, 3, 10);
}
