@charset "UTF-8";

/* Base Styles */
@use "base/commons";
@use "base/layout";
@use "base/animations";

/* Components Styles */
@use "components/header";
@use "components/footer";
@use "components/language-switcher";
/* Libraries Styles */

/* Sections Styles */
@use "sections/herosection";
@use "sections/aboutsection";
@use "sections/worksection";
@use "sections/exphsection";
@use "sections/expssection";
@use "sections/projectsection";
@use "sections/contactsection";
@use "sections/legalsection";
