---
// Import des icônes pour les soft skills
import chatIcon from "../../assets/chat.svg";
import collabIcon from "../../assets/collab.svg";
import fdnIcon from "../../assets/fdn.jpg";
import loopIcon from "../../assets/loop.svg";
---

<section id="exps">
  <div class="exps__wrapper">
    <h2 class="exps__title">
      <span>Mes compétences <br /> Soft Skills</span>
    </h2>
    <div class="exps__grid">
      <div class="exps__card">
        <div class="exps__card-header">
          <h3 class="exps__card-title">Capacité d'écoute</h3>
          <div class="exps__card-icon">
            <img src={chatIcon.src} alt="Icône chat" />
          </div>
        </div>
        <p class="exps__card-text">
          Je prends le temps de bien comprendre les besoins des utilisateurs
          afin de proposer des solutions techniques adaptées. Cette écoute
          attentive me permet de mieux répondre aux attentes et de collaborer
          efficacement.
        </p>
      </div>

      <div class="exps__card">
        <div class="exps__card-header">
          <h3 class="exps__card-title">Travail d'équipe</h3>
          <div class="exps__card-icon">
            <img src={collabIcon.src} alt="Icône collaboration" />
          </div>
        </div>
        <p class="exps__card-text">
          J'apprécie grandement le travail d'équipe et le partage de mes
          connaissances pour favoriser une croissance collective. J’aime prendre
          le lead et faire en sorte d’organiser le développement comme j’ai pu
          le faire à Inovera Solutions.
        </p>
      </div>

      <div class="exps__card">
        <div class="exps__card-header">
          <h3 class="exps__card-title">Curieux</h3>
          <div class="exps__card-icon">
            <img src={loopIcon.src} alt="Icône recherche" />
          </div>
        </div>
        <p class="exps__card-text">
          J’ai une vraie soif d’apprendre, j’aime découvrir de nouvelles
          technologies, explorer des environnements que je ne connais pas
          encore, et sortir de ma zone de confort.
        </p>
        <p class="exps__card-text">
          Pour moi, chaque nouveauté est une opportunité d’apprendre, de
          progresser et de m’adapter !
        </p>
      </div>

      <div class="exps__card">
        <div class="exps__card-header">
          <h3 class="exps__card-title">Bénévole Fresque du Numérique</h3>
          <div class="exps__card-icon">
            <img src={fdnIcon.src} alt="Logo Fresque du Numérique" />
          </div>
        </div>
        <p class="exps__card-text">
          Je suis bénévole pour la Fresque du Numérique, j'ai été formé en tant
          qu'animateur d'atelier. J'aime sensibiliser aux enjeux
          environnementaux du numérique et partager mes connaissances pour
          encourager des pratiques plus responsables dans notre secteur.
        </p>
        <a
          href="https://www.fresquedunumerique.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="exps__card-cta">Site de l'association</a
        >
      </div>
    </div>
  </div>
</section>
