---
// Import des icônes pour les soft skills
import chatIcon from "../../assets/chat.svg";
import collabIcon from "../../assets/collab.svg";
import fdnIcon from "../../assets/fdn.png";
import loopIcon from "../../assets/loop.svg";
---

<section id="exps">
  <div class="exps__wrapper">
    <h2 class="exps__title">
      <span>Mes compétences <br /> Soft Skills</span>
    </h2>
    <div class="exps__grid">
      <div class="exps__card">
        <div class="exps__card-header">
          <h3 class="exps__card-title">Capacité d'écoute</h3>
          <div class="exps__card-icon">
            <img src={chatIcon.src} alt="Icône chat" />
          </div>
        </div>
        <!-- div > p et tu reset les edges margin des children de la div -->
        <p class="exps__card-text">
          Je prends le temps de bien comprendre les besoins des utilisateurs
          afin de proposer des <span class="highlighted highlighted-blue"
            >solutions techniques adaptées</span
          >. Cette écoute attentive me permet de mieux répondre aux attentes et
          de collaborer efficacement.
        </p>
      </div>

      <div class="exps__card">
        <div class="exps__card-header">
          <h3 class="exps__card-title">Travail d'équipe</h3>
          <div class="exps__card-icon">
            <img src={collabIcon.src} alt="Icône collaboration" />
          </div>
        </div>
        <p class="exps__card-text">
          J'apprécie grandement le travail d'équipe et le partage de mes
          connaissances pour favoriser une <span
            class="highlighted highlighted-blue">croissance collective</span
          >. J'aime prendre le lead et faire en sorte d'organiser le
          développement comme j'ai pu le faire sur des projets personnels en
          équipe et sur le plan professionnel.
        </p>
      </div>

      <div class="exps__card">
        <div class="exps__card-header">
          <h3 class="exps__card-title">Curieux</h3>
          <div class="exps__card-icon">
            <img src={loopIcon.src} alt="Icône recherche" />
          </div>
        </div>
        <p class="exps__card-text">
          J'ai une vraie <span class="highlighted highlighted-blue"
            >soif d'apprendre</span
          >, j'aime découvrir de nouvelles technologies, explorer des
          environnements que je ne connais pas encore, et sortir de ma zone de
          confort.
        </p>
        <p class="exps__card-text">
          Pour moi, chaque nouveauté est une opportunité d'apprendre, de
          progresser et de m'adapter !
        </p>
      </div>

      <div class="exps__card">
        <div class="exps__card-header">
          <h3 class="exps__card-title">Bénévole Fresque du Numérique</h3>
          <div class="exps__card-icon">
            <img src={fdnIcon.src} alt="Logo Fresque du Numérique" />
          </div>
        </div>
        <p class="exps__card-text">
          Je suis bénévole pour la Fresque du Numérique, j'ai été formé en tant
          qu'animateur d'atelier. J'aime sensibiliser aux <span
            class="highlighted highlighted-blue">enjeux environnementaux</span
          > du numérique et partager mes connaissances pour encourager des pratiques
          plus responsables dans notre secteur.
        </p>
        <a
          href="https://www.fresquedunumerique.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="exps__card-cta"
          draggable="false">Site de l'association</a
        >
      </div>
    </div>
  </div>
</section>
