<section id="hero">
  <div class="hero__wrapper">
    <h1 class="hero__title">
      Clément Maillet
      <br />
      <span class="hero__title-highlighted">Développeur Full Stack</span>
    </h1>

    <div class="hero__description">
      <p>
        Développeur Full Stack motivé et disponible partout en Bretagne et ses
        alentours.
        <br />
        Je suis disponible dès maintenant, créons ensemble l’application de vos rêves.
      </p>
    </div>
    <div class="hero__socials">
      <a
        href="https://github.com/Karbbone"
        target="_blank"
        rel="noopener noreferrer"
        class="hero__socials-item hero__socials-item-github"
      >
        <img
          src="https://www.svgrepo.com/show/512317/github-142.svg"
          alt="GitHub"
        />
      </a>
      <a
        class="hero__socials-item hero__socials-item-linkedin"
        href="https://www.linkedin.com/in/cl%C3%A9ment-maillet-632895255/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="https://www.svgrepo.com/show/512419/linkedin-161.svg"
          alt="LinkedIn"
        />
      </a>
      <a
        class="hero__socials-item hero__socials-item-cv"
        href="/clement_maillet_cv.pdf"
        download>CV</a
      >
    </div>
    <div class="hero__cta">
      <a href="#me" class="hero__cta-button">Me découvrir</a>
    </div>
  </div>
</section>
