<section id="hero">
  <div class="hero__wrapper">
    <h1 class="hero__title">
      Clément Maillet
      <br />
      <span class="hero__title-highlighted">Développeur Full Stack</span>
    </h1>

    <div class="hero__description">
      <!-- <p>
        Développeur Full Stack motivé et disponible partout en Bretagne et ses
        alentours.
        <br />
        Je suis disponible dès maintenant, créons ensemble l’application de vos rêves.
      </p> -->
      <p>
        <!-- FIXME: highlighted--primary si BEM, même si highlighted devrait être le primary de base, donc pour les autres ça devrait être --secondary par exemple -->
        Développeur Full Stack <span class="highlighted highlighted-primary"
          >surmotivé</span
        > avec une passion débordante pour l'innovation technologique.
        <br />
        Animé par l'ambition de créer des solutions numériques <span
          class="highlighted highlighted-primary">exceptionnelles</span
        > qui marquent la différence.
      </p>
    </div>

    <!-- FIXME: Fais moi des listes avant que je tue -->

    <!-- FIXME: Penses au -- pour les modifiers, et tu m'as l'air de tricher mais on verra quand je ferai la review du CSS -->
    <div class="hero__socials">
      <a
        href="https://github.com/Karbbone"
        target="_blank"
        rel="noopener noreferrer"
        class="hero__socials-item hero__socials-item-github"
      >
        <!-- Le loading="lazy" je vais te foutre en taule avec la Sejuani de Baba, tu vas te prendre le True Ice dans le trou de balle -->
        <img
          src="https://www.svgrepo.com/show/512317/github-142.svg"
          alt="GitHub"
        />
      </a>
      <a
        class="hero__socials-item hero__socials-item-linkedin"
        href="https://www.linkedin.com/in/cl%C3%A9ment-maillet-632895255/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="https://www.svgrepo.com/show/512419/linkedin-161.svg"
          alt="LinkedIn"
        />
      </a>
      <a
        class="hero__socials-item hero__socials-item-cv"
        href="/clement_maillet_cv.pdf"
        download>CV</a
      >
    </div>
    <div class="hero__cta">
      <!-- Je ne connaissais pas, je prends note 👀 -->
      <a href="#me" class="hero__cta-button" draggable="false">Me découvrir</a>
    </div>
  </div>
</section>
