---
import inovera from "../../assets/inovera.png";
import mediamag from "../../assets/mediamag.png";
---

<section id="work">
  <div class="work__wrapper">
    <h2 class="work__title">
      <span>C'est un réel plaisir <br /> de travailler ensemble</span>
    </h2>
    <div class="work__content">
      <div class="work__content__item">
        <div class="work__content__item--header">
          <img src={mediamag.src} />
        </div>
      </div>
      <div class="work__content__item">
        <div class="work__content__item--header">
          <img src={inovera.src} />
        </div>
      </div>
    </div>
  </div>
</section>
