.github-icon {
  transition: transform 0.4s ease-in-out;
}

.github-icon:hover {
  transform: scale(1.2);
}

.linkedin-icon {
  transition: transform 0.4s ease-in-out;
}

.linkedin-icon:hover {
  transform: scale(1.2);
}

.link-icon {
  transition: transform 0.4s ease-in-out;
}

.link-icon:hover {
  transform: scale(1.2);
}

.react-icon {
  animation: rotateIcon 5s linear infinite;
}

.ts-icon {
  animation: balanceIcon 1.5s ease-in-out infinite alternate;
}

.mysql-icon {
  animation: rotateAndTranslateDophin 1.5s ease-in-out infinite alternate;
}

.mongo-icon {
  animation: balanceIcon 1.5s ease-in-out infinite alternate;
}

.java-icon {
  animation: redJavaAnimation 2s ease-in-out infinite alternate;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes balanceIcon {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes redJavaAnimation {
  from {
    transform: translateX(8px) translateY(14px);
  }
  to {
    transform: translateX(-8px) translateY(-10px);
    fill: red;
  }
}

@keyframes rotateAndTranslateDophin {
  from {
    transform: rotate(0deg) translateX(20px);
  }
  to {
    transform: rotate(-30deg) translateX(-10px);
  }
}
