---
import "../sass/components/Header.scss";
---

<header id="header">
  <div class="header__wrapper">
    <div class="header__cols">
      <div class="header__col--left">
        <a class=""> Clément Maillet </a>
      </div>
      <div class="header__col--right">
        <nav class="header__navigation">
          <ul class="header__menu">
            <li class="header__menu-item"><a>À propos</a></li>
            <li class="header__menu-item"><a>Compétences</a></li>
            <li class="header__menu-item"><a>Projets</a></li>
            <li class="header__menu-item">
              <a class="header__menu-item--cta"> Contact </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
