---
import ButtonCta from "../components/ButtonCta.astro";
import "../sass/components/Header.scss";
---

<header id="header">
  <div class="header__wrapper">
    <div class="header__cols">
      <div class="header__col__left">
        <a class=""> Clément Maillet </a>
      </div>
      <div class="header__col__right">
        <nav class="header__col__right__nav">
          <ul>
            <li><a>À propos</a></li>
            <li><a>Compétences</a></li>
            <li><a>Projets</a></li>
            <li><ButtonCta>Contact</ButtonCta></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
