<header id="header">
  <div class="header__wrapper">
    <div class="header__cols">
      <div class="header__col header__col--left">
        <a class="header__site-title" href="#" title="" aria-current="true"
          >Clément Maillet</a
        >
      </div>

      <div class="header__col header__col--right">
        <button class="header__burger" aria-label="Menu" aria-expanded="false">
          <span class="header__burger-line"></span>
          <span class="header__burger-line"></span>
          <span class="header__burger-line"></span>
        </button>

        <nav class="header__navigation">
          <ul class="header__menu">
            <li class="header__menu-item">
              <a
                href="#about"
                class="header__menu-link header__menu-link--about">À propos</a
              >
            </li>
            <li class="header__menu-item">
              <a
                href="#exph"
                class="header__menu-link header__menu-link--skills"
                >Compétences</a
              >
            </li>
            <li class="header__menu-item">
              <a
                href="#project"
                class="header__menu-link header__menu-link--projects">Projets</a
              >
            </li>
            <li class="header__menu-item header__menu-item--cta">
              <a
                href="#contact"
                class="header__menu-link header__menu-link--contact">Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
