@use "../base/colors" as color;
@use "../base/fonts" as fonts;

@use "../utils/mixins" as utils;

.btn {
  text-decoration: none;
  display: inline-block;
  background-color: color.$orange;
  font-weight: 900; // black
  border: solid 0.3rem color.$black;
  box-shadow: 6px 6px 0 color.$black;
  padding: 1.2rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
              box-shadow 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
              filter 0.2s ease;

  @include utils.outline-default-style;

  // Shine effect on hover
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent
    );
    transition: left 0.5s ease;
    pointer-events: none;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 8px 9px 0 color.$black;

    &::before {
      left: 100%;
    }
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 3px 3px 0 color.$black;
  }

  &--primary {
    color: color.$gray-dark;
    background-color: color.$orange;
  }

  &--secondary {
    color: color.$gray-dark;
    background-color: color.$purple;
  }
  &--red {
    color: color.$gray-dark;
    background-color: rgba(color.$red, 0.54);
  }
  &--blue {
    color: color.$gray-dark;
    background-color: rgba(color.$blue, 0.54);
  }
  &--green {
    color: color.$gray-dark;
    background-color: rgba(color.$green, 0.54);
  }

  // TODO: Nouvelle classe pour les boutons avec une icône dedans, pensez à mettre le texte dans une span
}

@mixin class($btn) {
  @extend .btn;

  @if $btn == "primary" {
    @extend .btn--primary;
  } @else if $btn == "secondary" {
    @extend .btn--secondary;
  } @else if $btn == "red" {
    @extend .btn--red;
  } @else if $btn == "blue" {
    @extend .btn--blue;
  } @else if $btn == "green" {
    @extend .btn--green;
  } @else {
    @error "Unknown button type: #{$btn}.";
  }
}
