@use "../base/colors" as color;
@use "../base/fonts" as fonts;

@use "../utils/mixins" as utils;

.btn {
  text-decoration: none;
  display: inline-block;
  background-color: color.$orange;
  font-weight: 900; // black
  border: solid 0.3rem color.$black;
  box-shadow: 6px 6px 0 color.$black;
  padding: 1.2rem;

  @include utils.outline-default-style;

  &:active {
    filter: brightness(0.7);
  }

  &--primary {
    color: color.$gray-dark;
    background-color: color.$orange;
  }

  &--secondary {
    color: color.$gray-dark;
    background-color: color.$purple;
  }

  // TODO: Nouvelle classe pour les boutons avec une icône dedans, pensez à mettre le texte dans une span
}

@mixin class($btn) {
  @extend .btn;

  @if $btn == "primary" {
    @extend .btn--primary;
  } @else if $btn == "secondary" {
    @extend .btn--secondary;
  } @else {
    @error "Unknown button type: #{$btn}.";
  }
}
