@use "../base/layout";
@use "../base/colors" as colors;
@use "../components/wrapper" as wrapper;
@use "../utils/breakpoints" as bp;
@use "../utils/mixins" as utils;
@use "../base/fonts" as fonts;
@use "../components/button" as btn;
@use "../components/highlight" as highlight;

.footer {
  background: #fff;
  box-shadow: 0 -4px 0 #222;
  margin-top: 4rem;
  font-family: inherit;

  &__wrapper {
    @include wrapper.class("small");
    padding: 2rem 4.8rem;
  }

  &__links {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #222;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: colors.$orange;
    }

    &--email {
      font-size: 1.4rem;
      font-weight: 600;

      &:hover {
        color: colors.$orange;
      }

      .footer__icon {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    &--cv {
      font-weight: 900;
      font-size: 2rem;
      font-family: fonts.$inter;
      color: colors.$black;
      display: flex;
      align-items: center;
    }

    &--linkedin {
      .footer__icon {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    &--github {
      .footer__icon {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
  }

  &__legal {
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    transition: color 0.2s;
    &-link {
      color: colors.$gray-dark;
      text-decoration: none;
      &:hover {
        color: colors.$orange;
      }
    }
  }
}
