@use "../base/colors" as colors;
@use "../base/fonts" as fonts;

@use "./button" as btn;

@use "../utils/mixins" as utils;
@use "../utils/breakpoints" as bp;

body.nav-open {
  overflow: hidden;
}

/*
BEM = 1 seul Bloc, ici Header 
=> Tes composants : wrapper, cols, col, burger etc...
=> Tes modificateurs : col--left, col--right
*/

#header {
  position: fixed;
  top: 3rem;
  left: 0;

  height: var(--header-height);
  width: 100%;
  z-index: 999;

  .header__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;

    .header__cols {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      border: solid 0.3rem colors.$black;
      border-radius: 1.5rem;
      padding: 2rem 4.8rem;

      &::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        right: -1rem;
        z-index: -1;

        width: 100%;
        height: 100%;
        background-color: colors.$black;
        border-radius: 2rem;
      }
    }

    .header__col {
      &--left {
        a {
          font-family: fonts.$inter;
          color: colors.$gray-dark;
          font-weight: 900;
          font-size: 2.4rem;
          letter-spacing: -0.06em;
          text-decoration: none;
        }
      }

      &--right {
        display: flex;
        align-items: center;

        .header__burger {
          display: none;
          flex-direction: column;
          justify-content: space-between;
          width: 3rem;
          height: 2.2rem;
          background: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          z-index: 10;

          @include bp.to("desktop") {
            display: flex;
          }

          &-line {
            width: 100%;
            height: 0.3rem;
            background-color: colors.$black;
            border-radius: 0.15rem;
            transition: all 0.3s ease-in-out;
          }

          &--active {
            .header__burger-line {
              &:nth-child(1) {
                transform: translateY(0.95rem) rotate(45deg);
              }

              &:nth-child(2) {
                opacity: 0;
              }

              &:nth-child(3) {
                transform: translateY(-0.95rem) rotate(-45deg);
              }
            }
          }
        }

        .header__navigation {
          @include bp.to("desktop") {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100vh;
            background: colors.$beige-light;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: right 0.3s ease-in-out;
            z-index: 5;

            &--active {
              right: 0;
            }
          }
        }

        .header__menu {
          display: flex;
          align-items: center;
          gap: 2rem;
          list-style: none;
          padding-left: 0;
          margin: 0;

          @include bp.to("desktop") {
            flex-direction: column;
            gap: 3rem;
          }

          &-item {
            font-family: fonts.$inter;
            font-size: 1.6rem;
            font-weight: 400;
            color: colors.$gray-dark;

            @include bp.to("desktop") {
              font-size: 2rem;
            }

            &:hover {
              color: colors.$orange;
            }
            a {
              text-decoration: none;
            }
            &--cta {
              @include btn.class("primary");
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
