@use "../base/colors" as color;
@use "../base/fonts" as fonts;

@use "../base/commons";

@use "./button" as btn;
@use "./wrapper" as wrapper;

@use "../utils/mixins" as utils;
@use "../utils/breakpoints" as bp;

#header {
  position: fixed;
  top: 3rem;
  left: 0;

  height: var(--header-height);
  width: 100%;
  z-index: 900;

  .header {
    &__wrapper {
      @include wrapper.class("small");
    }

    &__cols {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;

      background-color: color.$white;
      border: solid 0.3rem color.$black;
      box-shadow: 10px 10px 0 color.$black;
      padding: 2rem 4.8rem;
    }

    &__col {
      &--left {
        flex-shrink: 0;
      }

      &--right {
        flex-grow: 1;
      }
    }

    &__site-title {
      text-decoration: none;
      letter-spacing: -0.06em;

      @extend .h4;
    }

    &__navigation {
      @include bp.to("desktop") {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: color.$beige-light;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 1;

        &--active {
          right: 0;
        }
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: right;
      gap: 3rem;

      @include utils.list-reset;

      @include bp.from("desktop") {
        flex-direction: initial;
        gap: 2rem;
      }

      &-item {
        &--cta {
          a {
            @include btn.class("primary");

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        a {
          text-decoration: none;
          color: color.$gray-dark;

          &:hover,
          &:focus-visible {
            color: color.$orange;
          }
        }
      }
    }

    &__burger {
      $gap: 0.5rem;
      $line-height: 0.3rem;

      position: relative;
      display: flex;
      flex-direction: column;
      gap: $gap;
      background: transparent;
      border: none;
      padding: 0;
      margin-left: auto;
      z-index: 10;

      @include bp.from("desktop") {
        display: none;
      }

      &-line {
        width: 3rem;
        height: $line-height;
        background-color: color.$black;
        border-radius: 0.15rem;
        transition-duration: 0.4s;
      }

      &--active {
        .header__burger-line {
          &:nth-child(1) {
            transform: translateY(0.8rem) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
            transition-duration: 0s;
            // transform: translateX(-2rem);
          }

          &:nth-child(3) {
            transform: translateY(-0.8rem) rotate(-45deg);
          }
        }
      }
    }
  }
}
