@use "../base/colors" as colors;
@use "../base/fonts" as fonts;
@use "../utils/mixins" as utils;

.highlighted {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(1deg);
    width: 100%;
    height: 100%;
    will-change: transform;
    z-index: -1;
    padding: 0 2rem;
    clip-path: inset(0 100% 0 0); // hidden by default, GSAP reveals
    transition: none; // GSAP controls animation
  }

  // Fallback if JS fails or for reduced motion
  &--revealed::after {
    clip-path: inset(0 0% 0 0);
  }

  &-primary {
    &::after {
      background-color: colors.$green;
      opacity: 0.54;
    }
  }

  &-blue {
    &::after {
      background-color: colors.$blue;
      opacity: 0.54;
    }
  }

  &-red {
    &::after {
      background-color: colors.$red;
      opacity: 0.54;
    }
  }

  &-orange {
    &::after {
      background-color: colors.$orange;
      opacity: 0.54;
    }
  }
}

@mixin class($color, $padding: 2rem) {
  @extend .highlighted;

  &::after {
    padding: 0 #{$padding};
  }

  @if $color == "green" {
    @extend .highlighted-primary;
  } @else if $color == "blue" {
    @extend .highlighted-blue;
  } @else if $color == "red" {
    @extend .highlighted-red;
  } @else if $color == "orange" {
    @extend .highlighted-orange;
  } @else {
    @error "Unknown highlight type: #{$color}.";
  }
}
