@use "../base/colors";
@use "../base/fonts";

.cta {
  border: colors.$black;
  border-style: solid;
  border-width: 0.2rem;
  background-color: colors.$orange;
  font-family: fonts.$roboto;
  font-weight: 900;
  font-size: 1.6rem;
  padding: 1.2rem;
  // TODO Animation on box-shadow when hover only for Header.
  box-shadow: 0.6rem 0.6rem colors.$black;
  border-radius: 1.5rem;
}
